@{
    ViewBag.Title = "Contact";
}
<h2>CONTACTO</h2>
<h3>INFORMACION DE CONTACTO</h3>

<address>
    Two Wheels Business<br />
    Av. Belgrano, SMT<br />
    CUIL: 23-22578678-9<br />
    <abbr title="Phone">Telefono</abbr>
    381-5566788
</address>

<address>
    <strong>Atencion al cliente:</strong>   <a href="atencionalcliente@twowheels.com">atencionalcliente@twowheels.com</a><br />
    <strong>Marketing:</strong> <a href="Marketing@twowheels.com">Marketing@twowheels.com</a>
</address>