@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">TWO WHEELS</h1>
    <p class="text-center">
        Somos un negocio dedicado a la venta de bicicletas, nos destacamos de la competencia
        por nuestros mas de 20 años de experiencia en el mercado, brindando ayuda, soluciones
        y calidad a nuestros clientes.
    </p>

</div>


<!-- Caroussel ------------------------------------------------------->

<div style="display: flex;

    align-items:center;

    justify-content: space-around">

    <!-- Columna izquierda ------------------------------------------------------->

    <div class="carousel" style="max-width: 453px; max-height: 250px;">


        <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/65/78/c9/6578c94f8ad5df264195ea2eb4b67d1c.jpg" style="max-width: 500px; max-height: 300px" class="d-block w-100" alt="...">
        </div>


    </div>

    <!-- Columna derecha ------------------------------------------------------->
    <div class="carousel" style="max-width: 453px; max-height: 250px;">


        <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/92/1c/55/921c55c12423d67865f653b7061f7222.jpg" style="max-width: 500px; max-height: 300px" class="d-block w-100" alt="...">
        </div>


    </div>



</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2>VENTA DE ACCESORIOS</h2>
        <p>
            Contamos con mas de 200 categorias de bicicletas a la venta.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>NUESTRO NEGOCIO</h2>
        <p>Contamos con mas de 500 clientes registrados y mas de 50 empleados de distintas areas que trabajan en conjunto para un mayor crecimiento de nuestros objetivos y valores como empresa.</p>
       
    </div>
    <div class="col-md-4">
        <h2>NUESTRAS MARCAS</h2>
        <p>Contamos con 9 marcas de excelencia en el mercado, para ofrecerle una amplia variedad de elecciones, garantia y calidad.</p>
      
    </div>
</div>


